*{
    padding: 0px;
    margin: 0px;
}

body
{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


}

.container
{
    height: 350px;
    width: 300px;
    background-color: blueviolet;
    border-radius: 30px;
}

.singup
{
    display: flex;
    justify-content: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.uname
{
   
    color: white;
    padding: 10px;
    margin: 40px 0px 5px 0px;
    font-size: 20px;
    font-weight:700 ; 
}

.pwd
{
    color: white ;
    padding:10px  ;
    font-size: 20px ;
    font-weight:700 ; 
}

input
{
    font-size:20px;
    padding:3px;
    border-radius: 10px;
}

button
{
    width: 80%;
    height: 10%;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px 10px 0px 28px ;
    border-radius: 20px;
    background-color: aquamarine;

}
