*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body
{
    background-color: rgb(248, 252, 254);
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 40px;


   
}



.box
{
  
    background-color: rgb(203, 202, 202);
    height: 420px;
    width: 320px;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); 

}

h2
{
    margin-top: 15px;
}