*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
  background: #f5efe6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  font-family: sans-serif;
}

.container
{
    background-color: white;
    width: 100%;
    max-width: 600px;
    border-radius: 1rem;
    overflow:hidden;
    position: relative;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  
}

.screen
{
  padding: 2rem;
  text-align: center;
  display: none;
}

.screen.active
{
  display: block;
}


/* START SCREEN */

#start-screen h1
{
  color: #e86a33;;
  margin-bottom: 30px;
  font-size: 2.5rem;
}

#start-screen p 
{
  color: #666;
  margin-bottom: 30px;
  font-size: 1rem;
}

button
{
  background-color: #e86a33;
  margin-bottom:30px;
  color:  white;
  padding: 15px 30px;
  border:none;
  border-radius: 10px;
  font-size: 1.1rem;
}

/* quiz screen  */


#question-text 
{
  margin-bottom: 1rem;
}

.quiz-info
{
    color: #666;
    display: flex;
    justify-content:space-between;
}


/*  Resulte screen */

#result-screen h1
{
    margin-bottom: 30px;
    color: #e86a33;
}

#result-info
{
  background-color:#f8f0e5;
  border-radius: 0.5rem;
  margin-bottom: 30px;


}

#result-info p
{
  padding: 15px;
  color: #666;
}

#result-info h2
{
    padding-bottom: 15px;
    color: #e86a33;
}

