.div
{
    display: none ; 
}

.div.active 
{
    display: block;
}

#container
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#div1
{
    height:  200px;
    width: 400px;
    background-color: aqua;
    text-align: center;
    

}

#div2
{
    height:  200px;
    width: 400px;
    background-color: rgb(4, 255, 0);
    margin-top: 20px ;
    text-align: center;
}

#div3
{
    height:  200px;
    width: 400px;
    background-color: rgb(255, 0, 212);
    margin-top: 20px;
    text-align: center;
}

button
{
    height: 50px;
    margin-top: 20px;
    background-color: violet;
    border: none;
    border-radius: 20px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

