.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 5px;
}

.container > h1{
    
    display: block;
}

.box
{
    background-color: rgb(25, 102, 170);
    height: 100px;
    width: 200px;
}