*
{
  margin: 0 ; 
  padding: 0 ; 
  box-sizing: border-box;
}

body
{
  background-color: rgb(252, 246, 240);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

.screen
{
  display: none;
}
.screen.active
{
  display: block;
}

#start-screen
{
  background-color: white;
  height: 230px;
  width: 600px;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  
}

#start-screen h1
{
  margin-top: 30px;
  color: #e86a33;
  font-weight: boldere;
  font-size: 2.5rem;

}

#start-screen p
{
  margin-top: 20px;
  color: #666;
  font-size: 17px;
}



#quiz-screen
{
  text-align: center;
  padding: 2rem;
   background-color: white;
   height: 400px;
   width: 600px;
   border-radius: 15px;
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
   
}

#question-text
{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

#quiz-info
{
  display: flex;
  justify-content: space-between;
  color: rgb(125, 120, 120);
}

.ans-container
{
  display:  flex;
  flex-direction: column;
  justify-content: center ;
  gap: 10px ;
  margin-bottom: 25px;

}

.answer-btn {
  background-color: #f8f0e5;
  color: #333;
  border: 2px solid #eadbc8;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  text-align: left;
  transition: all 0.3s ease;
}

.answer-btn:hover {
  background-color: #eadbc8;
  border-color: #dac0ae;
}

.answer-btn.correct {
  background-color: #e6fff0;
  border-color: #a3f0c4;
  color: #28a745;
}

.answer-btn.incorrect {
  background-color: #fff0f0;
  border-color: #ffbdbd;
  color: #dc3545;
}

/* start and end button */
button
{
  margin-top:30px ;
  background-color: #e86a33;
  color: white;
  padding: 15px 35px;
  border: none;
  border-radius: 10px;
  font-size: large;
}